body,
html,
::after,
::before {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
}

.form-wrapper {
  width: 40%;
}

.table {
  width: 60%;
}
